.vs/
**/bin/
**/dll/
**/obj/
**/build/
*.user
*.suo
*.opensdf
*.vcxproj.user
*.tmp

# Locally built projectM outputs
libs/projectM/include/projectM-4/
libs/projectM/lib/vs/
libs/projectM/lib/osx/
libs/projectM/lib/linux64/
